<div class="w-full h-full flex flex-1 flex-col gap-4 overflow-hidden">
  <section class="w-full flex flex-col justify-center items-center gap-4 py-8">
    <div class="rounded-full bg-indigo-500 text-white text-5xl p-6 aspect-square flex justify-center items-center">
      {{user?.firstName?.substring(0, 1)}}{{user?.lastName?.substring(0, 1)}}
    </div>
    <div class="text-2xl">{{user?.firstName}} {{user?.lastName}}</div>
  </section>
  <section class="overflow-auto">
    <mat-nav-list>
      <ng-container *ngFor="let navigationItem of navigationItems" [ngSwitch]="navigationItem.isExternal">
        <ng-container *ngSwitchCase="true">
          <ng-container [ngTemplateOutlet]="externalLink"
                        [ngTemplateOutletContext]="{ displayName: navigationItem.displayName, route: navigationItem.route }">
          </ng-container>
        </ng-container>
        <ng-container *ngSwitchDefault>
          <ng-container [ngTemplateOutlet]="internalLink"
                        [ngTemplateOutletContext]="{ displayName: navigationItem.displayName, route: navigationItem.route }">
          </ng-container>
        </ng-container>
      </ng-container>
    </mat-nav-list>
  </section>
</div>

<ng-template #externalLink let-displayName="displayName" let-route="route">
  <a mat-list-item href="{{route}}">{{ displayName }}</a>
</ng-template>

<ng-template #internalLink let-displayName="displayName" let-route="route">
  <a mat-list-item [routerLink]="route" [routerLinkActive]="'!bg-indigo-500 !text-indigo-500'" class="!bg-opacity-20">{{ displayName }}</a>
</ng-template>
